header {
    margin-bottom: 2rem;
}
html, body {
	height: 100%;
}
section {
	height: 90%;
}

@media (max-width: 768px) {
	section {
		height: auto;
	}
}

header, footer {
    background-color: #f8f8f8;
}

footer {
    text-align: center;
    padding: 10px;
    width: 100%;
}

footer p{
    margin: 0;
}

form {
	margin: 10px 0;
}